.row-deleted .dsg-cell {
    /* Red */
    background: #fff1f0;
    /* text-decoration: line-through; */
    /* position: relative; */
}

.row-deleted::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    top: 50%;
    z-index: 100;
}

/* .row-created .dsg-cell {
    background: #eaffd7;
} */

/* .row-updated .dsg-cell {
    background: #fff7e6;
} */